MONGO_URI=
JWT_SECRET=
JWT_EXPIRES_IN=7d
NODE_ENV=production
FRONTEND_URL=
BACKEND_URL=
ADMIN_URL=
GOOGLE_CLIENT_ID=
MP_ACCESS_TOKEN=
MP_PUBLIC_KEY=
PAYPAL_CLIENT_ID=
PAYPAL_CLIENT_SECRET=
PAYPAL_ENV=sandbox
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
RESEND_API_KEY=
RESEND_FROM_EMAIL=PrintLab 3D <no-reply@example.com>
ADMIN_EMAIL=
SEED_ADMIN_NAME=Administrador
SEED_ADMIN_EMAIL=
SEED_ADMIN_PASSWORD=
INSTAGRAM_URL=
FACEBOOK_URL=
UNSUBSCRIBE_URL=
TRACKING_BASE_URL=
